.container {
  border-top:auto;
  border-bottom:30px;
  border-left: 15px;
  border-right: 15px;
  border-style: solid;
  border-color: lightgrey;
  background: lightgrey;
  margin-left: 50px;
  margin-right: 50px;
}

.lorem {
  margin:10px;
  padding: 15px;
}

h1 {
  background: black;
  color: white;
  text-align: center;
  font-size: 15px;
  margin:10px;
  padding:12px;
  padding-top:10px;
}

#content1 {
  background: coral;
  color: blue;
  text-align: center;
  margin-top:30px;
}

#content2 {
  background: coral;
  color: green;
  text-align: center;
}

#content3 {
  background: coral;
  color: yellow;
  text-align: center;
}